h1 {
  color: rgb(0, 0, 0);
  font-family: fantasy;
  font-size: 50px;
  font-weight: bolder;
}
body {
  background-image: url("./assets/super mario.gif");
  background-repeat: no-repeat;
  background-size: cover;
}
img {
  border-radius: 45%;
  border-style: ridge;
  border-color: black;
}

p {
  font-family: Brush Script MT;
  font-size: 35px;
  color: rgb(8, 8, 8);
  border-color: black;
  font-weight: 600;
}
